<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--   ico放在static目录下-->

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div>

    <div style="display: inline-block">
        <input type="file" id="uploadTPSFile" style="display: none;" multiple="multiple" accept=".log,.txt,.pdf"/>
        <input id="selectTPSFilePath" readonly>
        <input id="uploadTPSPath" type="hidden">
        <input type="button" id="openTPSFile" value="选择文件">

        <input id="uploadTPS" type="button" value="上传TPS"/>
    </div>
    <!--margin:上右下左-->
    <div style="display: inline-block;width: 200px;">
        <div class="progress" style="margin-bottom: 0px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%;">
                0%
            </div>
        </div>
    </div>

</div>

<input id="btnSetProgress" type="button" value="进度"/>

<input id="btnQuery" type="button" value="Get查询"/>
<input id="btnDeleteFile" type="button" value="删除"/>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/fileupload.js"></script>
</body>
</html>